body {
  font-family: sans-serif;
  color: #111111;
  padding:0;
  margin:0;
}

.contentWrapper {
  max-width: 45em;
  margin: 0 auto;
  padding: 1.5em;
}

/* TYPOGRAPHY */

a {
  text-decoration: underline;
  font-weight: bold;
  color: #111111;
}

h1 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}

/* BUTTONS */
button {
  background-color: #ffffff;
  border: none;
  padding: 1em;
  border-radius: 1em;
  color: #007D70;
  font-weight: bold;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #007D70;
  color: #ffffff;
  border: 0.1em currentColor solid;
}

/* NAV */
nav {
  background-color: #111111;
  color: #ffffff;
}

nav ul {
  color: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  color: inherit;
  flex:1;
}

nav ul li a {
  color: inherit;
  display: block;
  padding: 0.5em 0;
  text-align: center;
  border: 0.2em transparent dashed;
}

nav ul li a:hover,
nav ul li a:focus {
  border: 0.2em #ffffff dashed;
}

nav ul li ul li a {
  padding: 0;
}

nav ul li:hover > ul {
  display: block;
  position: absolute;
  bottom: -3.5;
  z-index: 9999;
}

nav ul li ul {
  display: none;
  padding:1em;
  background-color: #111111;
}

nav ul li ul li {
  display: block;
}

nav ul li ul li a {
  color: #ffffff;
  display: block;
  padding: 0.5em;
}

/* MEDIA ITEM */
.articleWrapper, article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.articleWrapper > article {
  flex: 1;
  border: 0.2em transparent dashed;
}

.articleWrapper > article:hover,
.articleWrapper > article:hover {
  border: 0.2em #000000 dashed;
}

article {
  margin: 0.5em;
  background-color: #ffffff;
  border: 0.1rem solid #e0e0e0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  color: #111111;
  position: relative;
}

article > div {
  padding: 1.5em;
  flex:1;
  min-width: 15em;
}

article:first-of-type {
  min-width: 90%;
}

article > div:nth-child(2) {
  background-image: url("https://vasilis.nl/voto/fotos/klein/161001180558-de-boot-gemist-150.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 14em;
}

article div h1 a {
  font-size: calc(1em + 0.2vw);
  color: #111111;
}

article div h1 a:after {
  position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
}

article:first-of-type > div:nth-child(2) {
  min-height: 20em;
}

article:first-of-type div h1 a {
  font-size: calc(0.7em + 3vw);
}

article:first-of-type div p {
  padding-top: 1em;
  font-size: calc(1em + 0.4vw);
}

article:first-of-type div img {
  height: 100%;
  width: auto;
}

/* PICTURE WITH TEXT */
.picArticle {
 padding-left: 0;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.picArticle figure {
  margin: 0;
  padding:0;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
  flex: 1;
  min-width:100%;
}

.picArticle figure h1 {
  position: absolute;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.picArticle figure img {
  margin: 0;
  height: auto;
  width: 100%;
}

.picArticle figcaption {
  flex: 1;
  align-self: center;
  padding: 1.5em;
}

.picArticle img {
  width: 100%;
  margin:  1em 0;
}

@media (min-width: 45em) {
  .picArticle figure {
    min-width: 0;
  }
}

/* STEP INDICATOR */

.stepIndicator {
  flex:1;
}

.stepIndicator, form {
  background-color: #111111;
  margin: 0.5em;
  padding: 1.5em;
}

.stepIndicator progress {
  width: 100%;
  margin: 0.5em 0;
}

.stepIndicator ol {
  color: #ffffff;
  display: flex;
  max-width: 100%;
}

.stepIndicator ol li {
  color: inherit;
  width: 25%;
}

.stepIndicator ol li a {
  color: inherit;
}

/* FORM */
.loginForm {
  max-width: 30em;
  margin: 2em auto;
}

form {
  padding: 1em;
}

form:invalid {
  background-color: #A52626;
}

form:valid {
  background: #398B27;
}

form label {
  margin: 1em 0 0 0;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
}

form input {
  width: 100%;
  margin: 0.2em 0 0 0;
  padding: 0.5em;
  font-size: 1em;
  box-sizing: border-box;
}

form input:focus {
  border:0.2em #007D70 dashed;
}

form input[type="checkbox"] {
  border: 1px red dashed;
  width: auto;
}

form a {
  display: block;
  color: #ffffff;
  font-size: 0.8em;
  margin: 0.5em 0 0.5em 0;007D70
}

/* CHAT */
.chatBox {
  background-color: #111111;
  margin: 0.5em;
  padding: 1em;
  flex:1;
}

.chat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.chat li {
  width: 100%;
  width: max-content;
  border-radius: 0.7em;
  margin: 0.4em;
  padding: 0.5em;
}

.chat li:nth-child(odd) {
  align-self: flex-end;
  background-color: lightgreen;
}

.chat li:nth-child(even) {
  background-color: lightblue;
}

.chat li p {
  display: inline-block;
  margin:0;
  padding:0;
}

.chat li footer {
  background-color: grey;
  display: block;
  padding-top: .5em;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  background-color: inherit;;
}

.chatBox form {
  display: flex;
  padding:0;
  margin:0;
  background-color: transparent;
}

.chatBox form textarea {
  margin:0 2em 0 0;
  padding:0.5em;
  flex:4;
  background-color: inherit;
  resize: none;
  border: 0.2em #ffffff solid;
  color: #ffffff;
  font-size: 1.2em;
}

.chatBox form textarea:hover,
.chatBox form textarea:focus {
  border: 0.2em #ffffff dashed;
}

.chatBox form button {
  flex:1;
}

/* RATING */
fieldset {
  border: none;
  max-width: 8em;
}

fieldset .rating {
  display: flex;
  flex-direction: row;
}

fieldset .rating label {
  width: 4em;
  font-size: 1em;
}

input[type="radio"]:checked+label {
  color: red;
  border:2px green dashed;
}

fieldset .rating input {
  display: none;
}

/* HELPERS */
.componentsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
