body {
  font-family: sans-serif;
  color: #111111;
  padding:0;
  margin:0;
}

.contentWrapper {
  max-width: 45em;
  margin: 0 auto;
  padding: 1.5em;
}

/* TYPOGRAPHY */

a {
  text-decoration: underline;
  font-weight: bold;
  color: #111111;
}

h1 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}

/* BUTTONS */
button {
  background-color: #ffffff;
  border: none;
  padding: 1em;
  border-radius: 1em;
  color: #007D70;
  font-weight: bold;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #007D70;
  color: #ffffff;
  border: 0.1em currentColor solid;
}

/* NAV */
nav h1 {
  color: #ffffff;
  padding: 1em;
  font-size: 1.4em;
}

nav {
  padding: 0.5em 0 0.5em 0;
  background-color: #111111;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  width: 100%;
}

nav ul li:hover > ul{
  display: block;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

nav ul li a:hover {
  color: #007D70;
}

nav ul li ul {
  display:block;
	position:static;
  width: 100%;
	top:100%;
	left:0;
	background-color: #007D70;
	padding:0;
}

nav ul li ul li{
  margin: 0 auto;
  display: block;
  width: 60%;
  max-width: 10em;
}

nav ul li ul li a:hover {
  color: #111111;
}

@media (min-width: 37em) {
  nav ul li {
    width: auto;
  }

  nav ul li ul {
    display:none;
    position: absolute;
    background-color: #007D70;
  }

  nav ul li ul li {
    margin: 0.5em 0 0.5em 0;
  }
}

/* MEDIA ITEM */
article > div:nth-child(2) {
  background-image: url("https://vasilis.nl/voto/fotos/klein/161001180558-de-boot-gemist-150.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 14em;
}

article, .articleWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.articleWrapper {
  margin: 0.5em 0;
}

.articleWrapper > article {
  display: block;
  min-width: 30%;
  flex: 1;
}

.articleWrapper article img {

}

.bigArticle {
  margin: 1em 0;
  background-color: #237F52;
  color: #ffffff;
}

.bigArticle > div {
  min-width: 27em;
  flex: 1;
  padding: 1.5em;
  overflow: hidden;
}

.bigArticle > div:nth-child(2) {
  background-image: url("https://vasilis.nl/voto/fotos/klein/161001180558-de-boot-gemist-150.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 20em;
}

.bigArticle div h1 a {
  font-size: calc(0.7em + 3vw);
  color: #ffffff;
}

.bigArticle div p {
  padding-top: 1em;
  font-size: calc(1em + 0.4vw);
}

.bigArticle div img {
  height: 100%;
  width: auto;
}

/* PICTURE WITH TEXT */
.picArticle {

}

.picArticle figure {
  margin: 0;
}

.picArticle img {
  width: 100%;
  margin:  1em 0;
}

/* STEP INDICATOR */

.stepIndicator, form {
  background-color: #237F52;
  margin: 1em 0;
  border-radius: 1em;
}

.stepIndicator progress {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.stepIndicator ol {
  color: #ffffff;
  padding: 1em 2em;
  font-size: 1.5em;
}

.stepIndicator ol li {

}

.stepIndicator ol li a{
  color: #ffffff;
}

/* FORM */
form {
  padding: 1em;
}

form label {
  margin: 1em 0 0 0;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
}

form input {
  width: 100%;
  margin: 0.2em 0 0 0;
  padding: 0.5em;
  font-size: 1em;
  box-sizing: border-box;
}

form input:focus {
  border:0.2em #007D70 dashed;
}

form input[type="checkbox"] {
  border: 1px red dashed;
  width: auto;
}

form a {
  display: block;
  color: #ffffff;
  font-size: 0.8em;
  margin: 0.5em 0 0.5em 0;
}

/* CHAT */
.chat {
  border: 1px red dashed;
  display: flex;
}

.chat li {
  border: 1px green dashed;
  width: 100%;
}

.chat li p {
  border: 1px orange dashed;
  display: inline-block;
}

.chat li footer {
  background-color: grey;
  display: block;
}

/* RATING */
fieldset {
  border: none;
}

fieldset .rating {
  display: flex;
  flex-direction: row;
}

fieldset .rating label {
  flex-grow: 1;
}

fieldset .rating input {
  opacity: 0;
}
