* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #111111;
}

.contentWrapper {
  max-width: 45em;
  margin: 0 auto;
  padding: 1.5em;
}

/* TYPOGRAPHY */

a {
  text-decoration: none;
  font-weight: bold;
  color: #111111;
}

h1 {
  font-size: 2em;
  margin: 1em 0 0 0;
}

p {
  font-size: 1em;
}

/* NAV */
nav h1 {
  color: #ffffff;
  padding: 1em;
  font-size: 1.4em;
}

nav {
  padding: 0.5em 0 0.5em 0;
  background-color: #111111;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  width: 100%;
}

nav ul li:hover > ul{
  display: block;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

nav ul li a:hover {
  color: #007D70;
}

nav ul li ul {
  display:block;
	position:static;
  width: 100%;
	top:100%;
	left:0;
	background-color: #007D70;
	padding:0;
}

nav ul li ul li{
  margin: 0 auto;
  display: block;
  width: 60%;
  max-width: 10em;
}

nav ul li ul li a:hover {
  color: #111111;
}

/* ARTICLE */
article {
  padding: 0;
}

article img {
  width: 100%;
  margin:  1em 0;
}

/* STEP INDICATOR */

.stepIndicator {
  background-color: #007D70;
  margin: 1em 0;
  border-radius: 1em;
}

.stepIndicator progress {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.stepIndicator ol {
  color: #ffffff;
  padding: 1em 2em;
  font-size: 1.5em;
}

.stepIndicator ol li {

}

.stepIndicator ol li a{
  color: #ffffff;
}


/* MEDIA QUERIES */
@media (min-width: 37em) {
  nav ul li {
    width: auto;
  }

  nav ul li ul {
    display:none;
    position: absolute;
    background-color: #007D70;
  }

  nav ul li ul li {
    margin: 0.5em 0 0.5em 0;
  }
}
